@inherits LayoutComponentBase

<Dropdown>
    <Overlay>
        <Menu>
            <MenuItem>
                <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                    1st menu item
                </a>
            </MenuItem>
            <MenuItem>
                <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                    2nd menu item
                </a>
            </MenuItem>
            <MenuItem>
                <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                    3rd menu item
                </a>
            </MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <Space>
            <SpaceItem>
                <Avatar Size="large" Icon="user" />
            </SpaceItem>
        </Space>
    </ChildContent>
</Dropdown>



@code {

}
