@page "/github/redirect"
@using Services
@layout AuthLayout


<PageTitle>Index</PageTitle>

<div style="position: fixed; right: 50%; top: 50%;">
    <Spin size="large" />
</div>

@code {
    protected string _code = "";
    @inject NavigationManager navigationManager
    @inject IAuthService _authService

    [Parameter]
    public long resourceId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
     
        await base.OnInitializedAsync();

        _code = queryParams["code"]!; // 替换为你的参数名
        await _authService.GitHubLogin(_code);
    }
}